[user]
	signingkey = zach@zmc.dev
	email = zach@zmc.dev
	name = Zach Callahan

[alias]
	trueblame = blame -w -C -C -C

[branch]
	autosetuprebase = always

[commit]
	gpgsign = true

[pull]
	autostash = true

[rerere]
	enabled = true

[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = main

[rebase]
	autoStash = true

[diff]
	compactionheuristic = true
	mnemonicprefix = true 

[fetch]
	prune = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[gui]
	skipDiscardChangeWarning = true
